@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    /* color */
    --background : #fefefe;
    --text-blue : #2da6f4;
    --text-white : #fefefe;
    --text-primary : #031e30;
    --text-secondary : #484848;
    --bg-blue : #2da6f4;


    /* font dan padding */
    --rem05 : 0.5rem;
    --rem1 : 1rem;
    --rem15 : 1.5rem;
    --rem2 : 2rem;
    --rem15 : 2.5rem;
    --rem3 : 3rem;
    --rem35 : 3.5rem;
    --rem4 : 4rem;
    --rem45 : 4.5rem;
    --rem5 : 5rem;
    --rem55 : 5.5rem;

    /* shadow */
    --shadow_nav:2px 0 20px rgba(34, 39, 47, 0.3);
    --shadow-primary : 0px 100px 80px rgba(230, 230, 230, 0.22), 0px 41.7776px 33.4221px rgba(230, 230, 230, 0.158148), 0px 22.3363px 17.869px rgba(230, 230, 230, 0.131144), 0px 12.5216px 10.0172px rgba(230, 230, 230, 0.11), 0px 6.6501px 5.32008px rgba(230, 230, 230, 0.0888564), 0px 2.76726px 2.21381px rgba(230, 230, 230, 0.061852);
}


/* global css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    background-color: var(--background);
}

.container{
    max-width: 1300px;
    padding: 0 100px;
    margin: 0 auto;
}

.dark-mode {
    --background : #1b2028;
    --text-primary : #fefefe;
    --text-secondary : #fefefe;

    --shadow_nav:2px 0 20px rgba(73, 73, 73, 0.3);
    --shadow-primary : 0px 100px 80px rgba(0, 00, 0, 0.22), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.158148), 0px 22.3363px 17.869px rgba(0, 0, 100, 0.131144), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.11), 0px 6.6501px 5.32008px rgba(0, 0, 100, 0.0888564), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.061852);
}
/* navbar */
.navbar{
    width: 100%;
    position: relative;
    z-index: 1;
}

.nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.nav_logo{
    width: 200px;
}

.nav_logo img{
    width: 100%;
}

.nav_menu{

}

.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link:not(:first-child) {
    margin-left: 40px;
    display: inline-block;
}

.nav_link a{
    color: var(--text-secondary);
    font-weight: 500;
    position: relative;
    transition: .3s ease-in;
    font-size: var(--rem1);
}

.nav_link a:hover{
    color: var(--text-blue);
}


.nav_link a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background-color: var(--bg-blue);
    bottom: 0;
    transition: .3s all ease-in;
}

.nav_link a:hover::after{
    width: 100%;
}

.nav_link i{
    color: var(--text-secondary);
    position: relative;
    cursor: pointer;
    font-size: var(--rem1);
    transition: .3s all;
}

.btn_dark i::after{
    content: 'Dark';
    position: absolute;
    left: 22px;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-in;
}

.btn_dark i:hover::after{
    opacity: 1;
}

.btn_dark i.active::before{
    content: '\f185';
    font-size: var(--rem1);
}

.btn_dark i.active::after{
    content: 'Light';
}

.nav_btn{
    display: none;
}

/* home */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:calc(100vh - 100px);
    position: relative;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content_left{
    position: relative;
    padding-top: 90px;
}

.text1{
    color: var(--text-primary);
    font-size: 3rem;
    font-weight: 800;
}

.text2{
    font-size: 3rem;
    color: var(--text-primary);
    font-weight: 800;
    margin-top: -10px;
}

.text2 span{
    color: var(--text-blue);
    
}
.text3{
    color: var(--text-secondary);
    font-size: 1rem;
    width: 90%;
    padding: 20px 0 60px 0;
    font-weight: 500;
}

.btn{
    background-color: var(--bg-blue);
    color: var(--text-white);
    padding: 12px 35px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.3rem;
    border: 3px solid var(--bg-blue);
    transition: .3s all;
}

.btn:hover{
    color: var(--text-blue);
    background-color: var(--background);
}


.content_right{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.home_img img{
    width: 100%;
    margin-left: 30px;
}

/* about */
.about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.about_content{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    z-index: 2;
}

.about_left{
    display: flex;
    align-items: center;
}
.about_img {

    width: 90%;
}
.about_img img{
    width: 100%;
}

.about_text h1{
    color: var(--text-primary);
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.about_text h1::after{
    content: '';
    width: 59%;
    height: 3px;
    background-color: var(--bg-blue);
    position: absolute;
    left: 0;
    bottom: 0;
}

.about_text h1 span{
    color: var(--text-blue);
}

.about_text h2{
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
}

.about_background{
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    left:0;
    height: 100%;
    opacity: 0.1;
}

.about_background2{
    width: 110%;
    position: absolute;
    bottom: -2%;
}

.about_background2 img{
    width: 100%;
}


.about_back{
    position: absolute;
    width: 10%;
    left: 10%;
    top: 12%;
}

.about_back img{
    width: 100%;
    position: absolute;
}

/* image properti */
.image_properti{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.image_titik1{
    position: absolute;
    width: 70%;
    top: -700px;
    left: -24%;
    opacity: .05;
}
.image_titik1 img{
    position: absolute;
}

.image_titik2{
    position: absolute;
    width: 10%;
    opacity: 0.3;
    transform: rotate(90deg);
    right: 0;
    top: 80%;

}

.image_titik2 img{
    position: absolute;
    width: 100%;
}

.image_circle{
    position: absolute;
    width: 15%;
    opacity: 0.05;
    left: 45%;
    top: 10%;
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.8));
}

.image_circle img{
    position: absolute;
    width: 100%;
}

/* SERVICE */
.service{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.service_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.service_judul{
    position: relative;
    top:-50px;
}

.service_judul h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-primary);
    position: relative;
    display: inline-block;
}

.service_judul h1::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-blue);
    bottom: 4px;
}

.service_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

.service1{
    background-color: var(--background);
    box-shadow: var(--shadow-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s all;
    position: relative;
    z-index: 1;
}

.service1:hover{
    transform: scale(1.1);
}
.service1_img{
    width: 65%;
    padding: 20px 0 10px;

}

.service1 img{
    width: 100%;
}


.service1_text h1{
    font-size: 1.3rem;
    color: var(--text-primary);
}

.service1_text p{
    font-size: .9rem;
    color: var(--text-secondary);
    padding: 5px 10px 20px 10px;
}

.text1_top{
    position: relative;
    top: -10px;
}

.berpading{
    padding-bottom: 20px;
}

.service_back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.service_back1{
    position: relative;
    width: 10%;
    opacity: 0.3;
    top: 40%;
    left: 6%;
}

.service_back1 img{
    width: 100%;
    position: absolute;
}

.service_back2{
    position: relative;
    width: 20%;
    opacity: 0.1;
    top: 45%;
    left: 75%;
}

.service_back2 img{
    width: 100%;
    position: absolute;
}

/* social */

.social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.social_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social_judul{
    position: relative;
    top: -40px;
}

.social_judul h1{
    color: var(--text-primary);
    font-weight: 700;
    font-size: 3rem;
    position: relative;
    display: inline-block;
}
.social_judul h1::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-blue);
    bottom: 4px;
}


.social_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
    z-index: 80;
}

.social_list1,.social_list2, .social_list3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_img1{
    border-radius: 20px;
    background-color: var(--background);
    box-shadow: var(--shadow-primary);
    width: 220px;
    height: 110px;
    margin:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all;
    cursor: pointer;
}

.social_img1:hover{
    transform: scale(1.1);
}

.social_list1 img,.social_list2 img, .social_list3 img{
    width: 80%;
    padding: 0 30px;
    
}

.social_back{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.social_back1{
    opacity: .2;
    width: 10%;
    position: relative;
    left: 85%;
    top: 70%;
    
}

.social_back1 img{
    width: 100%;
    transform: rotate(90deg);
}


/* contact */

.contact{
    width: 100%;
    min-height: auto;
    background: var(--bg-blue);
    border-radius:0 100px 0 0 ;
    z-index: 98;
}

.contact_content{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_judul h1{
    color: var(--text-white);
    font-size: 2.9rem;
    font-weight: 700;
}

.contact_judul p{
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.5);
}
.contact_btn{
    transition: .3s all;
    position: relative;
    z-index: 80;
}

.contact_btn h1{
    background-color:var(--text-white);
    padding: 18px 30px;
    color: var(--text-blue);
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 15px;
    cursor: pointer;


}

.contact_btn:hover{
    transform: scale(1.1);
}

.contact_btn h1 i{
    padding-left: 60px;
}


.contact_form{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 88;
    background-color: rgba(34, 34, 34, 0.5);
    z-index: -1;
    opacity: 0;
}

.contact_form.show{
    opacity: 1;
    z-index: 99;
}

.form_content{
    background-color: var(--background);
    border-radius: 15px;
    padding: 60px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    transition: 1s all;
}

.form_content.show{
    right: 50%;
    transform: translateX(50%);
}

.form_close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    
}

.form_close i{
    font-size: 1.5rem;
    color: var(--text-secondary);
}

.form_judul h1{
    color: var(--text-primary);
    font-size: 2rem;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.form_judul h1::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    background-color: var(--bg-blue);
    height: 2px;
    bottom: 3px;
}

.form_judul p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-primary);
    padding: 10px 0 30px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input{
    width: 100%;
    height: 60px;
    border: 2px solid rgba(73, 73, 73, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    background-color: var(--background);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    transition: .5s all;
}

.form input::placeholder{
    color: var(--text-secondary);
}

.form textarea{
    width: 100%;
    border: 2px solid rgba(73, 73, 73, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    background-color: var(--background);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    transition: .5s all;
}

.form input::placeholder{
    color: var(--text-secondary);
}

.btn_send{
    background-color: var(--bg-blue);
    border: 3px solid var(--bg-blue);
    width: 100%;
    height: 60px;
    border-radius: 15px;
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 600;
    transition: .5s all;
    cursor: pointer;
}

.btn_send:hover{
    transform: scale(1.05);
    background-color: var(--background);
    color: var(--text-blue);

}

.form input:hover, .form textarea:hover{
    transform: scale(1.05);
}

/* footer */

.footer{
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-blue);
    padding: 60px 0;
    border-top: 1px solid rgba(254, 254, 254, 0.2);
    
}

.footer_top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(254, 254, 254, 0.2);

}

.footer_logo{
    width: 45%;
    padding-bottom: 20px;
}
.footer_logo img{
    width: 100%;
}

.footer_top{
    
}

.footer_top p{
    color: hsla(0, 0%, 100%, 0.7);
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.footer_top p i{
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
.footer_list2{
    padding-left: 120px;
    padding-top: 5px;
}
.footer_list2 h1{
    color: var(--text-white);
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.footer_link:not(:last-child){
    margin-bottom: 5px;
}

.footer_link a{
    color: hsla(0, 0%, 100%, 0.7);
    transition: .3s all;
}

.footer_link a:hover{
    color: #fefefe;
    transform: scale(1.1);
}


.icon_social{
    display: flex;
    align-items: center;
}
.icon_social a:not(:last-child){
    margin-right: 20px;
}

.icon_social i{
    width: 40px;
    height: 40px;
    background-color: var(--text-white);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.3rem;
    color: var(--text-blue);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}

.icon_social a{
    transition: .3s all;
}

.icon_social a:hover{
    transform: scale(1.1);
}

.footer_bottom{
    padding: 10px 0 0 ;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 1rem;
    font-weight: 300;
}






/* responsiV */

@media (max-width:960px){
    .container{
        padding: 0 50px;
    }
    .home_content{
        place-items: center;
    }
    .content_left{
        padding-top: 0;
    }

    .text1,.text2{
        font-size: 2.3rem;
    }

    .text2{
        margin-top: 0;
    }

    .home_img img{
        margin-left: 0;
    }

    .container_social{
        padding: 0 50px;
    }
    .text1_top{
        position: relative;
        top: 0;
    }
    
    .berpading{
        padding-bottom: 0;
    }
}
@media (max-width:768px){
    .nav_menu{
        background-color: var(--background);
        top: 0;
        right: -100%;
        position: fixed;
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:var(--shadow_nav);
        transition: .5s all ease-out;
        z-index: 999;
    }
    .nav_menu.active{
        right: 0;
        z-index: 999;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav_link:not(:first-child){
        margin-left: 0;
    }

    .nav_link a{
        font-size: 28px;
        font-weight: 500;
    }

    .nav_link i{
        font-size: 28px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translatex(-50%);
    }

    .nav_link i:hover::after{
        display: none;
    }

    .nav_link i.active::before{
        font-size: 28px;
    }
    

    .nav_btn{
        display: block;
        font-size: 26px;
        position: relative;
        color: var(--text-secondary);
        transition: .3s all eas;
    }
    .nav_btn i.active::before{
        content: '\f00d';
        position: fixed;
        z-index: 999;
        top: 8.7%;
        right: 7.5%;
        font-size: 26px;
        color: var(--text-secondary);
    }

    .home_content{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        grid-gap: 60px;
    }

    .content_left{
        text-align: center;
        padding-top: 20%;
    }

    .text1,.text2{
        font-size: 3rem;
    }

    .text3{
        font-size: 1.5rem;
    }

    .text3{
        width: 100%;
    }

    .image_circle{
        width: 50%;
        left: 0;
        top: 0;
    }

    .image_titik2{
        width: 20%;
        top: 45%;
    }
    
    /* .social_content{
        grid-template-columns: repeat(3, 1fr);
    } */

    .about_back {
        width: 20%;
    }
    .about{
        position: relative;
        z-index: 10;
    }

    .about_content{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }

    .about_text h1::after{
        left: 50%;
        transform: translateX(-50%);
    }

    .about_left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_img{
        width: 100%;
    }
    #top{
        order: 1;
        margin: 50px 0;
    }

    #bottom{
        order: 2;
    }

    .service_list{
        grid-template-columns: repeat(2,1fr);
    }

    .service{
        padding: 60px 0;
    }

    .service_judul {
        top: 0;
    }
    .text1_top{
        position: relative;
        top: -10px;
    }
    
    .berpading{
        padding-bottom: 20px;
    }

    .service_back1{
        width: 20%;
        top: 50%;
    }

    .service_back2{
        width: 30%;
        left: 55%;
        top: 65%;
    }

    .social_list{
        position: relative;
        padding-top: 30px;
    }
    .social_list1{
        display: block;
        position: absolute;
        opacity: 0;
        animation: animasi_social1 30s infinite;
    }
    .footer_logo{
        width: 60%;
    }

    .footer_top{
        grid-template-columns: repeat(2,1fr);
        row-gap: 40px;
    }

    .footer_list2:last-child{
        padding: 0;
    }

    @keyframes animasi_social1 {
        0%{
            opacity: 1;
        }
        10%{
            opacity: 1;
        }
        20%{
            opacity: 0;
        }
        30%{
            opacity: 0;
        }
        40%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        60%{
            opacity: 0;
        }
        70%{
            opacity: 0;
        }
        80%{
            opacity: 0;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
        
    }

    .social_list2{
        display: block;
        opacity: 0;
        animation: animasi_social2 30s infinite;
    }

    @keyframes animasi_social2 {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 0;
        }
        20%{
            opacity: 0;
        }
        30%{
            opacity: 1;
        }
        40%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        60%{
            opacity: 0;
        }
        70%{
            opacity: 0;
        }
        80%{
            opacity: 0;
        }
        90%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
        
    }

    .social_list3{
        display: block;
        position: absolute;
        opacity: 0;
        opacity: 0;animation: animasi_social3 30s infinite;
    }

    @keyframes animasi_social3 {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 0;
        }
        20%{
            opacity: 0;
        }
        30%{
            opacity: 0;
        }
        40%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        60%{
            opacity: 1;
        }
        70%{
            opacity: 1;
        }
        80%{
            opacity: 0;
        }
        90%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
        
    }
    .contact_content{
        flex-direction: column;
        text-align: center;
    }
    
    .contact_judul{
        padding-bottom: 40px;
    }
    
    .form_content{
        padding: 40px 50px ;
    }

} 

@media (max-width:580px){
    .container{
        padding: 0 35px;
    }
    .content_left{
        padding-top: 25%;
    }
    .text1,.text2{
        font-size: 2.5rem;
    }
    .text3{
        font-size: 1.1rem;
    }
    .social_content{
        grid-gap: 30px;
    }

    .service_list{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .social_list{
        padding-top: 0;
    }

    .contact_judul h1{
        font-size: 2.5rem;
    }

    .form_content{
        padding: 40px 30px;
        width: 80%;
    }
    .footer_logo{
        width: 45%;
    }

    .footer_top{
        grid-template-columns: repeat(1,1fr);
        row-gap: 40px;
    }

    .footer_list2{
        padding: 0;
    }
}

@media (max-width:380px){

    .contaioner{
        padding:  0 20px;
    }
    .text1,.text2{
        font-weight: 700;
        font-size: 2.3rem;
    }

    .text3{
        font-size: 1rem;
    }

    .about_text h1{
        font-size: 2.3rem;
    }
    .about_text h2{
        font-size: 1rem;
    }

    .service_judul {
        top: -20px;
    }

    .service_judul h1{
        font-size: 2.3rem;
    }

    .social_judul h1{
        font-size: 2.3rem;
    }

    .contact_judul h1{
        line-height: 50px;
        padding-bottom: 20px;
    }

    .contact_judul p{
        font-size: .9rem;
    }

    .contact_btn h1{
        font-size: 1.1rem;
    }
    .contact_btn h1 i{
        padding-left: 0;
    }
    .footer_logo{
        width: 70%;
    }

    .nav_menu{
        width: 80%;
    }

    .nav_btn i.active::before{
        right: 10%;
    }

}